<footer class="text-center text-muted rounded p-3 mt-4 bg-white">
  <div class="d-flex justify-content-center pb-3 footer-icons">
    <a href="https://www.facebook.com/" class="me-2" target="_blank">
      <i class="fa-brands fa-facebook-f fs-5 facebook"></i>
    </a>
    <a href="https://twitter.com/" class="me-2" target="_blank">
      <i class="fa-brands fa-twitter fs-5 twitter"></i>
    </a>
    <a href="https://www.instagram.com/" class="me-2" target="_blank">
      <i class="fa-brands fa-instagram fs-5 instagram"></i>
    </a>
    <a href="https://www.linkedin.com/" class="me-2" target="_blank">
      <i class="fa-brands fa-linkedin-in fs-5 linkedin"></i>
    </a>
  </div>
  <div class="horizontal-line"></div>
  <p class="m-0 pt-3">Copyright © Coronavirus Tracker</p>
</footer>
