.card-border-primary {
  border-left: 0.25rem solid #0d6efd !important;
}
.card-border-danger {
  border-left: 0.25rem solid #dc3545 !important;
}
.card-border-success {
  border-left: 0.25rem solid #198754 !important;
}
.card-border-warning {
  border-left: 0.25rem solid #ffc107 !important;
}
